body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    font-weight: 1000;
    padding: 7px;
    width: 100%;
    color: aliceblue;
    font-size: 32px;
    ;
}

.footer {
    font-weight: 500;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;

}

.logo,
#open-modal {
    margin-left: 15px;
    margin-right: 15px;
}

.animes {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    height: 300px;
    width: 250px;
    padding: 15px;
    margin: 20px;
    background-color: #161616;
    color: rgb(241, 238, 238);
    box-shadow: 0 0 15px 2px #a348e0;
    font-weight: 700;
}

.info {
    padding: 16px;
    font-size: 24px;
}

.completedBtn,
.anime-remove {
    height: 10%;
    width: 67%;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 900;
    background-color: #a348e0;
    border-radius: 5px;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.07);
}

.input {
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #161618;
    align-items: center;
    border-radius: 15px;
    font-family: sans-serif;
    color: aliceblue;
    font-family: 'Montserrat';
}

.input,
#add-button,
.is-completed {
    background-color: #161618;
    font-size: 15px;
    margin: 10px;
    height: 25px;
    border-radius: 7px;
    border: 0px solid;
    font-weight: 600;
    font-family: 'Montserrat';
}

#add-button {
    background-color: #DDD0C8;
    width: 70%;
    height: 35px;
    cursor: pointer;
}

#add-book-button {
    width: 100px;
    height: 100px;
    border-radius: 7px;
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:88%;
    align-items: center;
}


input, select, textarea{
    color: #7a7777;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 300px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

#open-modal {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}